@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.6em;
  z-index: 10;
  transition: transform 0.3s;
  cursor: pointer;
}
.burger-btn:hover {
  transform: scale(1.15);
}

.hide {
  display: none;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.85);
  overflow-x: hidden;
}
.header .nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 69%;
  transform: translateX(100%);
  -webkit-backdrop-filter: blur(50px) drop-shadow(30px 10px 4px rgb(64, 64, 68));
          backdrop-filter: blur(50px) drop-shadow(30px 10px 4px rgb(64, 64, 68));
  transition: transform 0.5s;
  z-index: 5;
}
.header .nav--active {
  transform: translateX(0);
}
.header .nav__list {
  list-style: none;
  text-transform: uppercase;
  margin-top: 5em;
}
.header .nav__item {
  padding: 1em 3em;
}
.header .nav__link {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 2.7px;
  color: rgb(255, 255, 255);
  transition: width 1s;
}
.header .nav__link--select {
  position: relative;
}
.header .nav__link--select::before {
  content: "";
  position: absolute;
  bottom: -0.3em;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.header__logo {
  position: fixed;
  top: 1.3em;
  left: 1.3em;
  width: 40px;
  height: 40px;
  z-index: 20;
}
.header__box {
  position: relative;
  padding: 7em 1.5em 1em;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 2;
}
.header__heading-small {
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: rgb(208, 214, 249);
}
.header__heading-main {
  padding: 0.2em 0;
  font-family: "Bellefair", serif;
  font-size: 8rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 100px;
  font-weight: normal;
}
.header__text {
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 25px;
  color: rgb(208, 214, 249);
}
.header__explore {
  position: relative;
  margin-top: 4em;
  width: 150px;
  height: 150px;
  border: solid 1px transparent;
  border-radius: 50%;
  text-align: center;
  font-family: "Bellefair", serif;
  font-weight: normal;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
.header__crew {
  position: relative;
  background-image: url(../assets/crew/background-crew-mobile.jpg);
  filter: brightness(1);
}
.header__crew-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 13, 23, 0.7);
  z-index: 0;
}
.header__crew-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1.5em;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 2;
}
.header__crew-title {
  margin-top: 3em;
  margin-bottom: 2em;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: 1.6rem;
  font-weight: normal;
}
.header__crew-hero {
  min-height: 222px;
  width: 100%;
  border-bottom: 1px solid #383b4b;
  margin-bottom: 2em;
}
.header__crew-img {
  width: 100%;
  min-height: 222px;
  max-width: 178px;
  max-height: 222px;
  margin-bottom: -0.2em;
}
.header__crew-btnbox {
  margin-bottom: 1em;
}
.header__crew-btn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 0.5em;
  background-color: rgba(255, 255, 255, 0.17);
}
.header__crew-btn--active {
  background-color: rgb(255, 255, 255);
}
.header__crew-head {
  text-transform: uppercase;
  font-family: "Bellefair", serif;
}
.header__crew-job {
  margin-top: 1em;
  color: rgba(255, 255, 255, 0.495);
  font-size: 1.6rem;
  font-weight: normal;
}
.header__crew-name {
  padding: 0.5em 0 1em;
  font-size: 2.4rem;
  font-weight: normal;
}
.header__crew-text {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  line-height: 25px;
  color: rgb(208, 214, 249);
  font-weight: normal;
}
.header__tech {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
}
.header__tech-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.header__tech-img {
  height: auto;
  min-height: 170px;
  width: 100%;
  margin-bottom: 2em;
}
.header__tech-title {
  color: rgb(255, 255, 255);
}
.header__tech-btnbox {
  margin-bottom: 2em;
}
.header__tech-btn {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: none;
  color: rgb(255, 255, 255);
  font-family: "Bellefair", serif;
  font-size: 1.6rem;
}
.header__tech-btn--active {
  color: rgb(11, 13, 23);
  background: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
}
.header__tech-btn:nth-child(2) {
  margin: 0 1.2em;
}
.header__tech-info {
  padding: 0 1.5em;
}
.header__tech-head {
  text-transform: uppercase;
}
.header__tech-term {
  font-family: "Barlow Condensed", sans-serif;
  color: rgb(208, 214, 249);
  letter-spacing: 2.36px;
}
.header__tech-name {
  padding: 0.5em 0 1em;
  font-size: 2.4rem;
  font-weight: normal;
  font-family: "Bellefair", serif;
}
.header__tech-text {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  line-height: 25px;
  color: rgb(208, 214, 249);
  font-weight: normal;
}
.header__dest {
  position: relative;
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  filter: brightness(1);
}
.header__dest-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1.5em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.header__dest-img {
  width: 100%;
  max-width: 170px;
  max-height: 170px;
  margin-bottom: 2em;
  animation: planetRotate 200s linear 1s infinite;
}
.header__dest-btnbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  display: flex;
  gap: 1.5em;
}
.header__dest-btn {
  position: relative;
  border: none;
  background: none;
  color: rgb(208, 214, 249);
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2.36px;
  z-index: 1;
}
.header__dest-btn--active {
  position: relative;
  color: rgb(255, 255, 255);
}
.header__dest-btn--active::before {
  content: "";
  position: absolute;
  bottom: -1em;
  left: -1px;
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.header__dest-name {
  padding: 0.2em 0;
  font-family: "Bellefair", serif;
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: normal;
  color: rgb(255, 255, 255);
}
.header__dest-text {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  line-height: 25px;
  color: rgb(208, 214, 249);
  font-weight: normal;
}
.header__dest-underline {
  margin: 2.5em 0;
  width: 100%;
  height: 1px;
  background-color: rgb(56, 59, 75);
}
.header__dest-info-box {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
.header__dest-info-box--text {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.36px;
  font-size: 1.4rem;
  color: rgb(208, 214, 249);
}
.header__dest-info-box--number {
  padding: 0.5em 0 0;
  font-family: "Bellefair", serif;
  font-size: 2.8rem;
  font-weight: normal;
  color: rgb(255, 255, 255);
}
.header__dest-travel {
  padding-bottom: 1.5em;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
  .header .nav {
    display: flex;
    align-items: center;
    height: 6em;
    width: 55%;
    transform: translateX(0);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.04);
  }
  .header .nav__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0.6em;
  }
  .header .nav__item {
    padding: 0.5em 0;
  }
  .header .nav__link {
    padding: 1em 0;
    font-size: 1.4rem;
    letter-spacing: 2.36px;
  }
  .header .nav__link--select::before {
    bottom: -30px;
    height: 3px;
  }
  .header__logo {
    left: 2.5em;
    width: 48px;
    height: 48px;
  }
  .header__box {
    padding: 12em 10.5em 1em;
  }
  .header__heading-small {
    font-size: 2rem;
    letter-spacing: 3.4px;
  }
  .header__heading-main {
    font-size: 15rem;
    line-height: 150px;
  }
  .header__text {
    font-size: 1.6rem;
    line-height: 28px;
  }
  .header__explore {
    margin-bottom: 2em;
    width: 242px;
    height: 242px;
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
  .header__crew {
    max-height: 1024px;
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    overflow-y: hidden;
  }
  .header__crew-shadow {
    background-color: rgba(11, 13, 23, 0.25);
  }
  .header__crew-box {
    padding: 2em 5em 0;
    text-align: center;
    color: rgb(255, 255, 255);
    z-index: 2;
  }
  .header__crew-title {
    margin-top: 5em;
    width: 100%;
    text-align: left;
    letter-spacing: 3.4px;
    font-size: 2rem;
  }
  .header__crew-tablet {
    display: flex;
    flex-direction: column-reverse;
  }
  .header__crew-hero {
    position: relative;
    height: auto;
    min-height: 572px;
    border-bottom: none;
    margin-bottom: 0;
    overflow-y: hidden;
  }
  .header__crew-img {
    position: fixed;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
    min-height: 572px;
    max-width: 457px;
    max-height: 572px;
  }
  .header__crew-btnbox {
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .header__crew-head {
    margin-top: 1.3em;
  }
  .header__crew-job {
    font-size: 2.4rem;
  }
  .header__crew-name {
    padding: 0.3em 0;
    font-size: 4rem;
  }
  .header__crew-text {
    padding: 0 4.3em 1em;
    font-size: 1.6rem;
    line-height: 28px;
  }
  .header__tech {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
  .header__tech-title {
    margin-left: 8em;
  }
  .header__tech-img {
    height: auto;
    min-height: 310px;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 3.5em;
  }
  .header__tech-btnbox {
    margin-bottom: 2.5em;
  }
  .header__tech-btn {
    width: 58px;
    height: 58px;
    font-size: 2.4rem;
  }
  .header__tech-info {
    padding: 0 10.3em;
  }
  .header__tech-term {
    letter-spacing: 2.7px;
  }
  .header__tech-name {
    padding: 0.5em 0;
    font-size: 4rem;
  }
  .header__tech-text {
    font-size: 1.6rem;
    line-height: 28px;
  }
  .header__dest {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
  .header__dest-box {
    padding: 2em 5em;
  }
  .header__dest-img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 3em;
    margin-top: 1.5em;
    animation-duration: 280s;
  }
  .header__dest-btnbox {
    margin-bottom: 1.5em;
    gap: 2em;
  }
  .header__dest-btn {
    font-size: 1.6rem;
    letter-spacing: 2.7px;
  }
  .header__dest-name {
    padding: 0.2em 0;
    font-size: 8rem;
  }
  .header__dest-text {
    padding: 0 1em;
    font-size: 1.6rem;
    line-height: 28px;
  }
  .header__dest-underline {
    margin: 3.2em 0 1.5em;
  }
  .header__dest-info-box {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
  .header__dest-travel {
    padding-bottom: 1em;
  }
}
@media (min-width: 1440px) {
  .header {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }
  .header .nav {
    top: 40px;
    width: 58%;
  }
  .header .nav__list {
    justify-content: start;
    margin-left: 8em;
    margin-bottom: 0;
  }
  .header .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .nav__link {
    margin-right: 2.9em;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    line-height: 16px;
  }
  .header .nav__link::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: -1px;
    height: 3px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.3s;
  }
  .header .nav__link:hover::after {
    width: 100%;
  }
  .header .nav__link--select {
    position: relative;
  }
  .header .nav__link--select::before {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    height: 3px;
  }
  .header__logo {
    top: 4em;
    left: 3.5em;
    width: 48px;
    height: 48px;
  }
  .header__logo::after {
    content: "";
    position: absolute;
    left: 110px;
    top: 24px;
    width: 33vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: default;
  }
  .header__box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5em;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 12em 4em 1em;
  }
  .header__heading {
    padding: 10.3em 11.5em 0 5em;
    text-align: left;
  }
  .header__heading-small {
    font-size: 2.8rem;
    letter-spacing: 4.72px;
  }
  .header__heading-main {
    margin: 0.1em 0 0;
    font-size: 15rem;
    line-height: 150px;
  }
  .header__text {
    margin-top: -0.5em;
    font-size: 1.8rem;
    line-height: 32px;
  }
  .header__explore {
    margin: 9.4em 0 3.5em 1.4em;
    min-width: 274px;
    min-height: 274px;
    font-size: 3.2rem;
    letter-spacing: 2px;
    animation: fly 3s linear;
  }
  .header__explore::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
    z-index: -1;
  }
  .header__explore:hover::before {
    height: 450px;
    width: 450px;
  }
  .header__crew {
    min-height: 900px;
    height: 100vh;
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    align-items: start;
  }
  .header__crew-title {
    padding-left: 3.1em;
    margin-top: 6.2em;
    letter-spacing: 4.72px;
    font-size: 2.8rem;
  }
  .header__crew-tablet {
    flex-direction: row-reverse;
    max-width: 50vw;
  }
  .header__crew-hero {
    position: fixed;
    bottom: 0;
    left: -10%;
    max-height: 712px;
    z-index: 0;
  }
  .header__crew-img {
    position: relative;
    height: auto;
    max-width: 568px;
    max-height: 712px;
    height: auto;
    width: 100%;
  }
  .header__crew-desktop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    padding: 4em 0 0 5.2em;
    text-align: left;
    z-index: 1;
  }
  .header__crew-btnbox {
    margin-bottom: 0em;
    margin-top: 7em;
  }
  .header__crew-btn {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 0.7em;
    transition: background-color 0.2s;
  }
  .header__crew-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .header__crew-head {
    margin-top: 2.3em;
  }
  .header__crew-job {
    font-size: 3.2rem;
  }
  .header__crew-name {
    padding: 0.2em 0;
    font-size: 5.6rem;
  }
  .header__crew-text {
    display: block;
    padding: 0.8em 11.5em 2em 0;
    height: 160px;
    font-size: 1.8rem;
    line-height: 32px;
  }
  .header__tech {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
  .header__tech-title {
    margin-left: 2.8em;
  }
  .header__tech-img {
    position: fixed;
    top: 272px;
    right: 0;
    height: 58.58%;
    max-width: 35.75%;
    margin: 0;
  }
  .header__tech-box {
    align-items: start;
  }
  .header__tech-desktop {
    display: flex;
    flex-direction: row;
    padding: 5.3em 0 0 10.3em;
  }
  .header__tech-btnbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 5em;
  }
  .header__tech-btn {
    width: 80px;
    height: 80px;
    font-size: 3.2rem;
    transition: border 0.3s;
  }
  .header__tech-btn:nth-child(2) {
    margin: 1.1em 0;
  }
  .header__tech-btn:hover {
    border: 1px solid rgb(255, 255, 255);
  }
  .header__tech-info {
    width: 470px;
    text-align: left;
    padding: 0em;
  }
  .header__tech-name {
    font-size: 5.6rem;
    padding: 0.3em 0;
  }
  .header__tech-text {
    padding-right: 1.5em;
    font-size: 1.8rem;
    line-height: 32px;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
  }
  .header__dest {
    min-height: 900px;
    height: 100vh;
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    align-items: start;
  }
  .header__dest-box {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .header__dest-title {
    margin-left: 4em;
  }
  .header__dest-desktop {
    display: flex;
    gap: 5em;
  }
  .header__dest-container {
    margin-top: 0.7em;
    width: 445px;
    height: 472px;
    text-align: left;
  }
  .header__dest-img {
    position: relative;
    max-width: 445px;
    max-height: 445px;
    margin: 3em 4.8em 0 4.5em;
    animation-duration: 350s;
  }
  .header__dest-btnbox {
    justify-content: start;
    margin-bottom: 1.3em;
    gap: 2.2em;
  }
  .header__dest-btn::after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: -1px;
    height: 3px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.3s;
  }
  .header__dest-btn:hover::after {
    width: 100%;
  }
  .header__dest-name {
    font-size: 10rem;
  }
  .header__dest-text {
    padding: 0;
    font-size: 1.8rem;
    line-height: 32px;
  }
  .header__dest-underline {
    margin: 3.6em 0 2em 0;
  }
  .header__dest-info-box {
    justify-content: start;
    gap: 6em;
  }
}
@keyframes planetRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fly {
  0% {
    transform: translate(-240%, -160%) scale(0);
    opacity: "0";
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */