@use '_components.scss' as *;
@use '_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
body {
	font-family: $fontCondensed;
	font-size: 1.6rem;
}
.burger-btn {
	position: fixed;
	top: 0;
	right: 0;
	padding: 1.6em;
	z-index: 10;
	transition: transform 0.3s;
	cursor: pointer;
	&:hover {
		transform: scale(1.15);
	}
}
.hide {
	display: none;
}
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-image: url(../assets/home/background-home-mobile.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.85);
	overflow-x: hidden;
	.nav {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 69%;
		transform: translateX(100%);
		backdrop-filter: blur(50px) drop-shadow(30px 10px 4px rgb(64, 64, 68));
		transition: transform 0.5s;
		z-index: 5;
		&--active {
			transform: translateX(0);
		}
		&__list {
			list-style: none;
			text-transform: uppercase;
			margin-top: 5em;
		}
		&__item {
			padding: 1em 3em;
		}
		&__link {
			position: relative;
			font-size: 2rem;
			text-decoration: none;
			letter-spacing: 2.7px;
			color: $white;
			transition: width 1s;
			&::after {
				content: '';
				position: absolute;
				bottom: -0.3em;
				left: 0;
				height: 2px;
				width: 0%;
				background-color: rgb(255, 255, 255, 0.25);
				transition: width 0.3s;
			}
			&:hover::after {
				width: 100%;
			}
			&--select {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					bottom: -0.3em;
					right: 0;
					height: 2px;
					width: 100%;
					background-color: $white;
				}
			}
		}
	}
	&__logo {
		position: fixed;
		top: 1.3em;
		left: 1.3em;
		width: 40px;
		height: 40px;
		z-index: 20;
	}
	&__box {
		position: relative;
		padding: 7em 1.5em 1em;
		text-align: center;
		color: $white;
		z-index: 2;
	}
	&__heading-small {
		text-transform: uppercase;
		letter-spacing: 2.7px;
		color: $light;
	}
	&__heading-main {
		padding: 0.2em 0;
		font-family: $fontHeading;
		font-size: 8rem;
		color: $white;
		text-transform: uppercase;
		line-height: 100px;
	}
	&__text {
		font-family: $fontBarlow;
		font-weight: normal;
		font-size: 1.5rem;
		line-height: 25px;
		color: $light;
	}
	&__explore {
		position: relative;
		margin-top: 3.2em;
		width: 150px;
		height: 150px;
		border: solid 1px transparent;
		border-radius: 50%;
		text-align: center;
		font-family: $fontCondensed;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 1.25px;
		background: $white;
		transition: box-shadow 0.3s;
		z-index: 2;
	}
	&__crew {
		position: relative;
		background-image: url(../assets/crew/background-crew-mobile.jpg);
		filter: brightness(1);
		&-shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(11, 13, 23, 0.7);
			z-index: 0;
		}

		&-box {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 2em 1.5em;
			text-align: center;
			color: $white;
			z-index: 2;
		}
		&-title {
			margin-top: 3em;
			margin-bottom: 2em;
			text-transform: uppercase;
			letter-spacing: 2.7px;
		}
		&-hero {
			min-height: 222px;
			width: 100%;
			border-bottom: 1px solid #383b4b;
			margin-bottom: 2em;
		}
		&-img {
			width: 100%;
			min-height: 222px;
			max-width: 178px;
			max-height: 222px;
			margin-bottom: -0.2em;
		}
		&-btnbox {
			margin-bottom: 1em;
		}
		&-btn {
			height: 10px;
			width: 10px;
			border-radius: 50%;
			margin: 0 0.5em;
			background-color: rgb(255, 255, 255, 0.17);
			&--active {
				background-color: $white;
			}
		}
		&-head {
			text-transform: uppercase;
			font-family: $fontHeading;
		}
		&-job {
			margin-top: 1em;
			color: rgb(255, 255, 255, 0.495);
		}
		&-name {
			padding: 0.5em 0 1em;
			font-size: 2.4rem;
			font-weight: normal;
		}
		&-text {
			font-family: $fontBarlow;
			font-size: 1.5rem;
			line-height: 25px;
			color: $light;
			font-weight: normal;
		}
	}
	&__tech {
		background-image: url('../assets/technology/background-technology-mobile.jpg');
		&-box {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 2em 0em;
			text-align: center;
			color: $white;
		}
		&-img {
			height: auto;
			min-height: 170px;
			width: 100%;
			margin-bottom: 2em;
		}
		&-title {
			color: $white;
		}
		&-btnbox {
			margin-bottom: 2em;
		}
		&-btn {
			width: 40px;
			height: 40px;
			border: 1px solid rgb(255, 255, 255, 0.5);
			border-radius: 50%;
			background: none;
			color: $white;
			font-family: $fontHeading;
			font-size: 1.6rem;
			transition: background 0.3s, border 0.3s;
			&--active {
				color: $black;
				background: $white;
				font-weight: bold;
				border: 1px solid $white;
			}
			&:nth-child(2) {
				margin: 0 1.2em;
			}
			&:hover {
				border: 1px solid $white;
			}
		}
		&-info {
			padding: 0 1.5em;
		}
		&-head {
			text-transform: uppercase;
		}
		&-term {
			font-family: $fontCondensed;
			color: $light;
			letter-spacing: 2.36px;
		}
		&-name {
			padding: 0.5em 0 1em;
			font-size: 2.4rem;
			font-weight: normal;
			font-family: $fontHeading;
		}
		&-text {
			font-family: $fontBarlow;
			font-size: 1.5rem;
			line-height: 25px;
			color: $light;
			font-weight: normal;
		}
	}
}
