@use '_components.scss' as *;
@use '_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
body {
	font-family: $fontCondensed;
	font-size: 1.6rem;
}
.burger-btn {
	position: fixed;
	top: 0;
	right: 0;
	padding: 1.6em;
	z-index: 10;
	transition: transform 0.3s;
	cursor: pointer;
	&:hover {
		transform: scale(1.15);
	}
}
.hide {
	display: none;
}
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-image: url(../assets/home/background-home-mobile.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.85);
	overflow-x: hidden;
	.nav {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 69%;
		transform: translateX(100%);
		backdrop-filter: blur(50px) drop-shadow(30px 10px 4px rgb(64, 64, 68));
		transition: transform 0.5s;
		z-index: 5;
		&--active {
			transform: translateX(0);
		}
		&__list {
			list-style: none;
			text-transform: uppercase;
			margin-top: 5em;
		}
		&__item {
			padding: 1em 3em;
		}
		&__link {
			position: relative;
			font-size: 2rem;
			text-decoration: none;
			letter-spacing: 2.7px;
			color: $white;
			transition: width 1s;
			&--select {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					bottom: -0.3em;
					right: 0;
					height: 2px;
					width: 100%;
					background-color: $white;
				}
			}
		}
	}
	&__logo {
		position: fixed;
		top: 1.3em;
		left: 1.3em;
		width: 40px;
		height: 40px;
		z-index: 20;
	}
	&__box {
		position: relative;
		padding: 7em 1.5em 1em;
		text-align: center;
		color: $white;
		z-index: 2;
	}
	&__heading-small {
		text-transform: uppercase;
		letter-spacing: 2.7px;
		color: $light;
	}
	&__heading-main {
		padding: 0.2em 0;
		font-family: $fontHeading;
		font-size: 8rem;
		color: $white;
		text-transform: uppercase;
		line-height: 100px;
		font-weight: normal;
	}
	&__text {
		font-family: $fontBarlow;
		font-weight: normal;
		font-size: 1.5rem;
		line-height: 25px;
		color: $light;
	}
	&__explore {
		position: relative;
		margin-top: 4em;
		width: 150px;
		height: 150px;
		border: solid 1px transparent;
		border-radius: 50%;
		text-align: center;
		font-family: $fontHeading;
		font-weight: normal;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 1.25px;
		background-color: $white;
		z-index: 2;
	}
	&__crew {
		position: relative;
		background-image: url(../assets/crew/background-crew-mobile.jpg);
		filter: brightness(1);
		&-shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(11, 13, 23, 0.7);
			z-index: 0;
		}

		&-box {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 2em 1.5em;
			text-align: center;
			color: $white;
			z-index: 2;
		}
		&-title {
			margin-top: 3em;
			margin-bottom: 2em;
			text-transform: uppercase;
			letter-spacing: 2.7px;
			font-size: 1.6rem;
			font-weight: normal;
		}
		&-hero {
			min-height: 222px;
			width: 100%;
			border-bottom: 1px solid #383b4b;
			margin-bottom: 2em;
		}
		&-img {
			width: 100%;
			min-height: 222px;
			max-width: 178px;
			max-height: 222px;
			margin-bottom: -0.2em;
		}
		&-btnbox {
			margin-bottom: 1em;
		}
		&-btn {
			height: 10px;
			width: 10px;
			border-radius: 50%;
			margin: 0 0.5em;
			background-color: rgb(255, 255, 255, 0.17);
			&--active {
				background-color: $white;
			}
		}
		&-head {
			text-transform: uppercase;
			font-family: $fontHeading;
		}
		&-job {
			margin-top: 1em;
			color: rgb(255, 255, 255, 0.495);
			font-size: 1.6rem;
			font-weight: normal;
		}
		&-name {
			padding: 0.5em 0 1em;
			font-size: 2.4rem;
			font-weight: normal;
		}
		&-text {
			font-family: $fontBarlow;
			font-size: 1.5rem;
			line-height: 25px;
			color: $light;
			font-weight: normal;
		}
	}
	&__tech {
		background-image: url('../assets/technology/background-technology-mobile.jpg');
		&-box {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 2em 0em;
			text-align: center;
			color: $white;
		}
		&-img {
			height: auto;
			min-height: 170px;
			width: 100%;
			margin-bottom: 2em;
		}
		&-title {
			color: $white;
		}
		&-btnbox {
			margin-bottom: 2em;
		}
		&-btn {
			width: 40px;
			height: 40px;
			border: 1px solid rgb(255, 255, 255, 0.5);
			border-radius: 50%;
			background: none;
			color: $white;
			font-family: $fontHeading;
			font-size: 1.6rem;
			&--active {
				color: $black;
				background: $white;
				font-weight: bold;
				border: 1px solid $white;
			}
			&:nth-child(2) {
				margin: 0 1.2em;
			}
		}
		&-info {
			padding: 0 1.5em;
		}
		&-head {
			text-transform: uppercase;
		}
		&-term {
			font-family: $fontCondensed;
			color: $light;
			letter-spacing: 2.36px;
		}
		&-name {
			padding: 0.5em 0 1em;
			font-size: 2.4rem;
			font-weight: normal;
			font-family: $fontHeading;
		}
		&-text {
			font-family: $fontBarlow;
			font-size: 1.5rem;
			line-height: 25px;
			color: $light;
			font-weight: normal;
		}
	}
	&__dest {
		position: relative;
		background-image: url(../assets/destination/background-destination-mobile.jpg);
		filter: brightness(1);
		&-box {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 2em 1.5em;
			text-align: center;
			color: $white;
		}
		&-img {
			width: 100%;
			max-width: 170px;
			max-height: 170px;
			margin-bottom: 2em;
			animation: planetRotate 200s linear 1s infinite;
		}
		&-btnbox {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 1.5em;
			display: flex;
			gap: 1.5em;
		}
		&-btn {
			position: relative;
			border: none;
			background: none;
			color: $light;
			text-align: center;
			font-family: $fontCondensed;
			font-size: 1.4rem;
			text-transform: uppercase;
			letter-spacing: 2.36px;
			z-index: 1;
			&--active {
				position: relative;
				color: $white;
				&::before {
					content: '';
					position: absolute;
					bottom: -1em;
					left: -1px;
					height: 3px;
					width: 100%;
					background-color: $white;
				}
			}
		}
		&-name {
			padding: 0.2em 0;
			font-family: $fontHeading;
			font-size: 5.6rem;
			text-transform: uppercase;
			font-weight: normal;
			color: $white;
		}
		&-text {
			font-family: $fontBarlow;
			font-size: 1.5rem;
			line-height: 25px;
			color: $light;
			font-weight: normal;
		}
		&-underline {
			margin: 2.5em 0;
			width: 100%;
			height: 1px;
			background-color: rgb(56, 59, 75);
		}
		&-info-box {
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			gap: 2.5em;
			&--text {
				font-family: $fontCondensed;
				letter-spacing: 2.36px;
				font-size: 1.4rem;
				color: $light;
			}
			&--number {
				padding: 0.5em 0 0;
				font-family: $fontHeading;
				font-size: 2.8rem;
				font-weight: normal;
				color: $white;
			}
		}
		&-travel {
			padding-bottom: 1.5em;
		}
	}
}
@media (min-width: 768px) {
	.burger-btn {
		display: none;
	}
	.header {
		background-image: url(../assets/home/background-home-tablet.jpg);
		.nav {
			display: flex;
			align-items: center;
			height: 6em;
			width: 55%;
			transform: translateX(0);
			overflow: hidden;
			background-color: rgb(255, 255, 255, 0.04);
			&__list {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				margin-top: 0;
				margin-bottom: 0.6em;
			}
			&__item {
				padding: 0.5em 0;
			}
			&__link {
				padding: 1em 0;
				font-size: 1.4rem;
				letter-spacing: 2.36px;
				&--select {
					&::before {
						bottom: -30px;
						height: 3px;
					}
				}
			}
		}
		&__logo {
			left: 2.5em;
			width: 48px;
			height: 48px;
		}
		&__box {
			padding: 12em 10.5em 1em;
		}
		&__heading-small {
			font-size: 2rem;
			letter-spacing: 3.4px;
		}
		&__heading-main {
			font-size: 15rem;
			line-height: 150px;
		}
		&__text {
			font-size: 1.6rem;
			line-height: 28px;
		}
		&__explore {
			margin-bottom: 2em;
			width: 242px;
			height: 242px;
			font-size: 3.2rem;
			letter-spacing: 2px;
		}
		&__crew {
			max-height: 1024px;
			background-image: url(../assets/crew/background-crew-tablet.jpg);
			overflow-y: hidden;
			&-shadow {
				background-color: rgba(11, 13, 23, 0.25);
			}
			&-box {
				padding: 2em 5em 0;
				text-align: center;
				color: $white;
				z-index: 2;
			}
			&-title {
				margin-top: 5em;
				width: 100%;
				text-align: left;
				letter-spacing: 3.4px;
				font-size: 2rem;
			}
			&-tablet {
				display: flex;
				flex-direction: column-reverse;
			}
			&-hero {
				position: relative;
				height: auto;
				min-height: 572px;
				border-bottom: none;
				margin-bottom: 0;
				overflow-y: hidden;
			}
			&-img {
				position: fixed;
				bottom: -3em;
				left: 50%;
				transform: translateX(-50%);
				min-height: 572px;
				max-width: 457px;
				max-height: 572px;
			}
			&-btnbox {
				margin-bottom: 2em;
				margin-top: 1em;
			}
			&-head {
				margin-top: 1.3em;
			}
			&-job {
				font-size: 2.4rem;
			}
			&-name {
				padding: 0.3em 0 ;
				font-size: 4rem;
			}
			&-text {
				padding: 0 4.3em 1em;
				font-size: 1.6rem;
				line-height: 28px;
			}
		}
		&__tech {
			background-image: url(../assets/technology/background-technology-tablet.jpg);
			&-title {
				margin-left: 8em;
			}
			&-img {
				height: auto;
				min-height: 310px;
				width: 100%;
				margin-top: 1.5em;
				margin-bottom: 3.5em;
			}
			&-btnbox {
				margin-bottom: 2.5em;
			}
			&-btn {
				width: 58px;
				height: 58px;
				font-size: 2.4rem;
			}
			&-info {
				padding: 0 10.3em;
			}

			&-term {
				letter-spacing: 2.7px;
			}
			&-name {
				padding: 0.5em 0;
				font-size: 4rem;
			}
			&-text {
				font-size: 1.6rem;
				line-height: 28px;
			}
		}
		&__dest {
			background-image: url(../assets/destination/background-destination-tablet.jpg);
			&-box {
				padding: 2em 5em;
			}
			&-img {
				width: 100%;
				max-width: 300px;
				max-height: 300px;
				margin-bottom: 3em;
				margin-top: 1.5em;
				animation-duration: 280s;
			}
			&-btnbox {
				margin-bottom: 1.5em;
				gap: 2em;
			}
			&-btn {
				font-size: 1.6rem;
				letter-spacing: 2.7px;
			}
			&-name {
				padding: 0.2em 0;
				font-size: 8rem;
			}
			&-text {
				padding: 0 1em;
				font-size: 1.6rem;
				line-height: 28px;
			}
			&-underline {
				margin: 3.2em 0 1.5em;
			}
			&-info-box {
				flex-direction: row;
				justify-content: space-evenly;
				gap: 0;
			}
			&-travel {
				padding-bottom: 1em;
			}
		}
	}
}
@media (min-width: 1440px) {
	.header {
		background-image: url(../assets/home/background-home-desktop.jpg);
		filter: brightness(1);
		.nav {
			top: 40px;
			width: 58%;
			&__list {
				justify-content: start;
				margin-left: 8em;
				margin-bottom: 0;
			}
			&__item {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&__link {
				margin-right: 2.9em;
				padding-right: 1em;
				padding-left: 1em;
				font-size: 1.6rem;
				letter-spacing: 2.7px;
				line-height: 16px;
				&::after {
					content: '';
					position: absolute;
					bottom: -23px;
					left: -1px;
					height: 3px;
					width: 0;
					background-color: rgb(255, 255, 255, 0.5);
					transition: width 0.3s;
				}
				&:hover::after {
					width: 100%;
				}
				&--select {
					position: relative;
					&::before {
						content: '';
						position: absolute;
						bottom: -23px;
						left: 0;
						height: 3px;
					}
				}
			}
		}
		&__logo {
			top: 4em;
			left: 3.5em;
			width: 48px;
			height: 48px;
			&::after {
				content: '';
				position: absolute;
				left: 110px;
				top: 24px;
				width: 33vw;
				height: 1px;
				background-color: rgb(255, 255, 255, 0.25);
				cursor: default;
			}
		}
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			gap: 5em;
			max-width: 1200px;
			margin: 0 auto;
			width: 100%;
			padding: 12em 4em 1em;
		}
		&__heading {
			padding: 10.3em 11.5em 0 5em;
			text-align: left;
		}
		&__heading-small {
			font-size: 2.8rem;
			letter-spacing: 4.72px;
		}
		&__heading-main {
			margin: 0.1em 0 0;
			font-size: 15rem;
			line-height: 150px;
		}
		&__text {
			margin-top: -0.5em;
			font-size: 1.8rem;
			line-height: 32px;
		}
		&__explore {
			margin: 9.4em 0 3.5em 1.4em;
			min-width: 274px;
			min-height: 274px;
			font-size: 3.2rem;
			letter-spacing: 2px;
			animation: fly 3s linear;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 0px;
				height: 0px;
				background-color: rgb(255, 255, 255, 0.1);
				border-radius: 50%;
				transition: width 0.5s, height 0.5s;
				z-index: -1;
			}
			&:hover::before {
				height: 450px;
				width: 450px;
			}
			
		}
		&__crew {
			min-height: 900px;
			height: 100vh;
			max-height: 100vh;
			background-image: url(../assets/crew/background-crew-desktop.jpg);
			align-items: start;
			&-title {
				padding-left: 3.1em;
				margin-top: 6.2em;
				letter-spacing: 4.72px;
				font-size: 2.8rem;
			}
			&-tablet {
				flex-direction: row-reverse;
				max-width: 50vw;
			}
			&-hero {
				position: fixed;
				bottom: 0;
				left: -10%;
				max-height: 712px;
				z-index: 0;
			}
			&-img {
				position: relative;
				height: auto;
				max-width: 568px;
				max-height: 712px;
				height: auto;
				width: 100%;
			}
			&-desktop {
				display: flex;
				flex-direction: column-reverse;
				justify-content: start;
				padding: 4em 0 0 5.2em;
				text-align: left;
				z-index: 1;
			}
			&-btnbox {
				margin-bottom: 0em;
				margin-top: 7em;
			}
			&-btn {
				position: relative;
				width: 15px;
				height: 15px;
				margin: 0 0.7em;
				transition: background-color 0.2s;
				&:hover {
					background-color: rgb(255, 255, 255, 0.5);
				}
			}
			&-head {
				margin-top: 2.3em;
			}
			&-job {
				font-size: 3.2rem;
			}
			&-name {
				padding: 0.2em 0;
				font-size: 5.6rem;
			}
			&-text {
				display: block;
				padding: 0.8em 11.5em 2em 0;
				height: 160px;
				font-size: 1.8rem;
				line-height: 32px;
			}
		}
		&__tech {
			background-image: url(../assets/technology/background-technology-desktop.jpg);
			&-title {
				margin-left: 2.8em;
			}
			&-img {
				position: fixed;
				top: 272px;
				right: 0;
				height: 58.58%;
				max-width: 35.75%;
				margin: 0;
			}
			&-box {
				align-items: start;
			}
			&-desktop {
				display: flex;
				flex-direction: row;
				padding: 5.3em 0 0 10.3em;
			}
			&-btnbox {
				display: flex;
				flex-direction: column;
				margin-bottom: 0;
				margin-right: 5em;
			}
			&-btn {
				width: 80px;
				height: 80px;
				font-size: 3.2rem;
				transition: border 0.3s;
				&:nth-child(2) {
					margin: 1.1em 0;
				}
				&:hover {
					border: 1px solid $white;
				}
			}
			&-info {
				width: 470px;
				text-align: left;
				padding: 0em;
			}
			&-name {
				font-size: 5.6rem;
				padding: 0.3em 0;
			}
			&-text {
				padding-right: 1.5em;
				font-size: 1.8rem;
				line-height: 32px;
				animation-duration: 2s;
				animation-delay: 0.3s;
				animation-timing-function: linear;
			}
		}
		&__dest {
			min-height: 900px;
			height: 100vh;
			background-image: url(../assets/destination/background-destination-desktop.jpg);
			align-items: start;
			&-box {
				width: 100%;
				max-width: 1440px;
				margin: 0 auto;
			}
			&-title {
				margin-left: 4em;
			}
			&-desktop {
				display: flex;
				gap: 5em;
			}
			&-container {
				margin-top: 0.7em;
				width: 445px;
				height: 472px;
				text-align: left;
			}
			&-img {
				position: relative;
				max-width: 445px;
				max-height: 445px;
				margin: 3em 4.8em 0 4.5em;
				animation-duration: 350s;
			}
			&-btnbox {
				justify-content: start;
				margin-bottom: 1.3em;
				gap: 2.2em;
			}
			&-btn {
				&::after {
					content: '';
					position: absolute;
					bottom: -1em;
					left: -1px;
					height: 3px;
					width: 0;
					background-color: rgb(255, 255, 255, 0.5);
					transition: width 0.3s;
				}
				&:hover::after {
					width: 100%;
				}
			}
			&-name {
				font-size: 10rem;
			}
			&-text {
				padding: 0;
				font-size: 1.8rem;
				line-height: 32px;
			}
			&-underline {
				margin: 3.6em 0 2em 0;
			}
			&-info-box {
				justify-content: start;
				gap: 6em;
			}
		}
	}
}
@keyframes planetRotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes fly {
	0% {
		transform: translate(-240%,-160%) scale(0);
		opacity: '0' 
	}
	100% {
		transform: translate(0) scale(1);
		opacity: 1;
	}
	
}